nav {
  width: 100%;
  background-color: #222;
  height: 100px;
}

section {
  position: relative;
  max-width: 1130px;
  margin: 0 auto;
  padding: 20px 30px;
  width: 100%;
  background-color: #999;
  height: auto;
}
footer {
  width: 100%;
  background-color: #ef0;
  height: 50px;
}
